{
  "env": {
    "mocha": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    // Overrides
    "no-console": "off",
    // Possible Errors
    "no-extra-parens": "error",
    "no-prototype-builtins": "error",
    "no-template-curly-in-string": "error",
    // Best Practices
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "always"],
    "no-alert": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-loop-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-param-reassign": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    // Stylistic Issues
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": "error",
    "comma-style": "error",
    "eol-last": "error",
    "func-call-spacing": "error",
    "func-style": ["error", "declaration", {"allowArrowFunctions": true}],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "jsx-quotes": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "max-len": ["error", { "code": 120, "tabWidth": 4 }],
    "newline-after-var": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": ["error", { "defaultAssignment": true }],
    "no-whitespace-before-property": "error",
    "object-curly-spacing": "error",
    "padded-blocks": ["error", "never"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi-spacing": "error",
    "semi": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": "error",
    // ECMAScript 6
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "no-duplicate-imports": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  }
}